* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --button_size: 60px;
  --gap: 5px;
  --padding: 20px;
  --button_color: #3b3838;
  --font-size: 1.5em;
  --button_text: white;
}
